#body {
    margin: 0px;
    padding: 0px;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#canvasDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#tools {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.colorButton {
    height: 34px;
    width: 34px;
}

#purpleButton {
    background-color: #cb3594;
}

#greenButton {
    background-color: #659b41;
}

#yellowButton {
    background-color: #ffcf33;
}

#brownButton {
    background-color: #986928;
}

.tint-small {
    font-size: 8px;
}

.tint-normal {
    font-size: 10px;
}

.tint-large {
    font-size: 12px;
}