<!DOCTYPE html>
<html>
<head>
    <title>defensedafficher.fr</title>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>
<body id="body">
<div id="container">
    <div id="canvasDiv">
    </div>
    <div id="controls">
        <button type="button" onclick="previous()">Previous</button>
        <button type="button" onclick="next()">Next</button>
    </div>
</div>

<!--[if IE]>
<script type="text/javascript" src="/assets/javascripts/excanvas.js"></script><![endif]-->
<script type="text/javascript" src="/assets/javascripts/defensedafficher-app.js"></script>
<script type="text/javascript">
    	 drawingApp.init();
    	 function next() {
    	    drawingApp.next();
    	 };
    	 function previous() {
    	    drawingApp.previous();
    	 };


</script>
</body>
</html>
